@charset "utf-8";
#title {
  width: 100%;
  background-color: #333;
  height: 67px;
}
#title > .sign {
  width: 960px;
  margin: 0 auto;
}
#title > .sign > .sign-logo {
  width: 143px;
  margin-right: 20px;
  float: left;
}
#title > .sign > .sign-logo > img {
  margin: 17px 0 0 4px;
}
#title > .sign > .sign-name > .i-1 {
  font-size: 18px;
  margin-top: 22px;
  float: left;
  color: #cccccc;
}
#title > .sign > .sign-name > .i-2 {
  font-size: 18px;
  margin-top: 12px;
  float: left;
  margin-left: 18px;
  line-height: 50px;
  font-family: "arial";
  color: #fff;
}
#page {
  width: 100%;
  background: #f2f2f2;
}
#page > .page-content {
  width: 960px;
  padding-top: 30px;
  margin: 0 auto;
}
#page > .page-content > .option {
  width: 100%;
}
#page > .page-content > .option > a {
  display: inline-block;
  width: 146px;
  height: 35px;
  margin-right: 12px;
  position: relative;
}
#page > .page-content > .option > a > span {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  color: #fff;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 30px;
  text-align: center;
}
#page > .page-content > .option > .a-1 {
  background-color: #b40707;
}
#page > .page-content > .option > .a-1 > i {
  display: inline-block;
  width: 14px;
  height: 22px;
  position: absolute;
  top: 6px;
  left: 26px;
  background: url(../img/option-1.png) no-repeat 0 -18px;
}
#page > .page-content > .option > .a-2 {
  background-color: #ccc;
}
#page > .page-content > .option > .a-2 > i {
  display: inline-block;
  width: 22px;
  height: 17px;
  position: absolute;
  top: 9px;
  left: 16px;
  background: url(../img/option-1.png) no-repeat 0 0;
}
#page > .page-content > .option > .s-3 {
  float: right;
  font-size: 14px;
  color: #333;
}
#page > .page-content > .option > .s-3 > a > span {
  color: #007dff;
}
#page > .page-content > .option > .s-3 > i {
  margin-left: -3px;
  color: #007dff;
}
#page > .page-content > .register-phonenum {
  font-size: 14px;
  color: #333;
  padding: 30px 270px;
  background: #fff;
}
#page > .page-content > .register-phonenum > .reg-detail {
  margin: 0 auto;
  width: 420px;
  position: relative;
}
#page > .page-content > .register-phonenum > .reg-detail > .nation,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber,
#page > .page-content > .register-phonenum > .reg-detail > .SMS,
#page > .page-content > .register-phonenum > .reg-detail > .password,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password,
#page > .page-content > .register-phonenum > .reg-detail > .birthday {
  width: 100%;
  background: #f7f7f7;
  height: 42px;
  border: 1px solid #d9d9d9;
  border-radius: 21px;
  margin-bottom: 30px;
  overflow: hidden;
}
#page > .page-content > .register-phonenum > .reg-detail > .nation > div,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber > div,
#page > .page-content > .register-phonenum > .reg-detail > .SMS > div,
#page > .page-content > .register-phonenum > .reg-detail > .password > div,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password > div,
#page > .page-content > .register-phonenum > .reg-detail > .birthday > div {
  float: left;
}
#page > .page-content > .register-phonenum > .reg-detail > .nation > .n-left,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber > .n-left,
#page > .page-content > .register-phonenum > .reg-detail > .SMS > .n-left,
#page > .page-content > .register-phonenum > .reg-detail > .password > .n-left,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password > .n-left,
#page > .page-content > .register-phonenum > .reg-detail > .birthday > .n-left {
  line-height: 42px;
  width: 90px;
  height: 100%;
  border-right: 1px solid #d9d9d9;
  padding: 0 16px;
  text-align: center;
}
#page > .page-content > .register-phonenum > .reg-detail > .nation > .n-right,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber > .n-right,
#page > .page-content > .register-phonenum > .reg-detail > .SMS > .n-right,
#page > .page-content > .register-phonenum > .reg-detail > .password > .n-right,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password > .n-right,
#page > .page-content > .register-phonenum > .reg-detail > .birthday > .n-right {
  height: 100%;
  line-height: 42px;
  width: 297px;
  position: relative;
}
#page > .page-content > .register-phonenum > .reg-detail > .nation > .n-right > .choose-nation,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber > .n-right > .choose-nation,
#page > .page-content > .register-phonenum > .reg-detail > .SMS > .n-right > .choose-nation,
#page > .page-content > .register-phonenum > .reg-detail > .password > .n-right > .choose-nation,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password > .n-right > .choose-nation,
#page > .page-content > .register-phonenum > .reg-detail > .birthday > .n-right > .choose-nation {
  font-size: 15px;
  vertical-align: middle;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  padding: 0 16px;
}
#page > .page-content > .register-phonenum > .reg-detail > .nation > .n-right > i,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber > .n-right > i,
#page > .page-content > .register-phonenum > .reg-detail > .SMS > .n-right > i,
#page > .page-content > .register-phonenum > .reg-detail > .password > .n-right > i,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password > .n-right > i,
#page > .page-content > .register-phonenum > .reg-detail > .birthday > .n-right > i {
  display: inline-block;
  width: 12px;
  height: 6px;
  background-image: url(../img/xiajiantou-icon.png);
  background-size: cover;
  margin-left: 8px;
  vertical-align: middle;
  position: absolute;
  right: 10px;
  top: 19px;
}
#page > .page-content > .register-phonenum > .reg-detail > .nation > .p-right,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber > .p-right,
#page > .page-content > .register-phonenum > .reg-detail > .SMS > .p-right,
#page > .page-content > .register-phonenum > .reg-detail > .password > .p-right,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password > .p-right,
#page > .page-content > .register-phonenum > .reg-detail > .birthday > .p-right {
  height: 100%;
  line-height: 42px;
  width: 297px;
}
#page > .page-content > .register-phonenum > .reg-detail > .nation > .p-right > .input-text,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber > .p-right > .input-text,
#page > .page-content > .register-phonenum > .reg-detail > .SMS > .p-right > .input-text,
#page > .page-content > .register-phonenum > .reg-detail > .password > .p-right > .input-text,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password > .p-right > .input-text,
#page > .page-content > .register-phonenum > .reg-detail > .birthday > .p-right > .input-text {
  height: 99%;
  width: 200px;
  line-height: 42px;
  border: 0;
  background: #f7f7f7;
  outline: none;
  padding: 0 16px;
}
#page > .page-content > .register-phonenum > .reg-detail > .nation > .p-right > .input-text:focus ~ .result1,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber > .p-right > .input-text:focus ~ .result1,
#page > .page-content > .register-phonenum > .reg-detail > .SMS > .p-right > .input-text:focus ~ .result1,
#page > .page-content > .register-phonenum > .reg-detail > .password > .p-right > .input-text:focus ~ .result1,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password > .p-right > .input-text:focus ~ .result1,
#page > .page-content > .register-phonenum > .reg-detail > .birthday > .p-right > .input-text:focus ~ .result1,
#page > .page-content > .register-phonenum > .reg-detail > .nation > .p-right > .input-text:focus ~ .result2,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber > .p-right > .input-text:focus ~ .result2,
#page > .page-content > .register-phonenum > .reg-detail > .SMS > .p-right > .input-text:focus ~ .result2,
#page > .page-content > .register-phonenum > .reg-detail > .password > .p-right > .input-text:focus ~ .result2,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password > .p-right > .input-text:focus ~ .result2,
#page > .page-content > .register-phonenum > .reg-detail > .birthday > .p-right > .input-text:focus ~ .result2,
#page > .page-content > .register-phonenum > .reg-detail > .nation > .p-right > .input-text:focus ~ .result3,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber > .p-right > .input-text:focus ~ .result3,
#page > .page-content > .register-phonenum > .reg-detail > .SMS > .p-right > .input-text:focus ~ .result3,
#page > .page-content > .register-phonenum > .reg-detail > .password > .p-right > .input-text:focus ~ .result3,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password > .p-right > .input-text:focus ~ .result3,
#page > .page-content > .register-phonenum > .reg-detail > .birthday > .p-right > .input-text:focus ~ .result3 {
  display: block;
}
#page > .page-content > .register-phonenum > .reg-detail > .nation > .p-right > span,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber > .p-right > span,
#page > .page-content > .register-phonenum > .reg-detail > .SMS > .p-right > span,
#page > .page-content > .register-phonenum > .reg-detail > .password > .p-right > span,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password > .p-right > span,
#page > .page-content > .register-phonenum > .reg-detail > .birthday > .p-right > span {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0 46px rgba(0, 0, 0, 0.3);
  display: none;
}
#page > .page-content > .register-phonenum > .reg-detail > .nation > .p-right > .result1,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber > .p-right > .result1,
#page > .page-content > .register-phonenum > .reg-detail > .SMS > .p-right > .result1,
#page > .page-content > .register-phonenum > .reg-detail > .password > .p-right > .result1,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password > .p-right > .result1,
#page > .page-content > .register-phonenum > .reg-detail > .birthday > .p-right > .result1 {
  position: absolute;
  left: 135px;
  top: 22px;
}
#page > .page-content > .register-phonenum > .reg-detail > .nation > .p-right > .result2,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber > .p-right > .result2,
#page > .page-content > .register-phonenum > .reg-detail > .SMS > .p-right > .result2,
#page > .page-content > .register-phonenum > .reg-detail > .password > .p-right > .result2,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password > .p-right > .result2,
#page > .page-content > .register-phonenum > .reg-detail > .birthday > .p-right > .result2 {
  position: absolute;
  left: 135px;
  top: 97px;
}
#page > .page-content > .register-phonenum > .reg-detail > .nation > .p-right > .result3,
#page > .page-content > .register-phonenum > .reg-detail > .phonenumber > .p-right > .result3,
#page > .page-content > .register-phonenum > .reg-detail > .SMS > .p-right > .result3,
#page > .page-content > .register-phonenum > .reg-detail > .password > .p-right > .result3,
#page > .page-content > .register-phonenum > .reg-detail > .confirm-password > .p-right > .result3,
#page > .page-content > .register-phonenum > .reg-detail > .birthday > .p-right > .result3 {
  position: absolute;
  left: 135px;
  top: 170px;
}
#page > .page-content > .register-phonenum > .reg-detail > .register-button {
  width: 100%;
  height: 40px;
}
#page > .page-content > .register-phonenum > .reg-detail > .register-button > .button {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  margin: 0 auto;
  background-color: #b40707;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
#page > .page-content > .register-phonenum > .reg-detail > .register-button > .button:hover {
  background-color: #c70000;
}
#page > .page-content > .empty-box {
  width: 960px;
  height: 41px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d7d7d7;
}
#page > .foot {
  width: 960px;
  margin: 0 auto;
  padding: 30px 0;
}
#page > .foot > .foot-2 {
  width: 100%;
}
#page > .foot > .foot-2 > .f1 {
  width: 380px;
  overflow: hidden;
  margin: 0 auto;
}
#page > .foot > .foot-2 > .f1 > li {
  float: left;
}
#page > .foot > .foot-2 > .f1 > li > a {
  font-size: 12px;
  color: #999;
  border-right: 1px solid #999;
  padding: 0 10px;
}
#page > .foot > .foot-2 > .f1 > li:nth-last-child(1) a {
  border: 0;
}
#page > .foot > .foot-2 > .f2 {
  width: 690px;
  margin: 0 auto;
  font-size: 12px;
  color: #999;
}
