@charset "utf-8";
#shop-car {
  width: 100%;
  background-color: #ccc;
  overflow: hidden;
}
#shop-car > .wrap-car {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding-left: 40px;
  margin-top: 10px;
  padding-top: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
#shop-car > .wrap-car > .chose-goods {
  float: left;
  margin: 43px 3px 0 0;
}
#shop-car > .wrap-car > .c-content {
  float: left;
  width: 1130px;
  font-size: 14px;
}
#shop-car > .wrap-car > .c-content > .c-pic {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
  position: relative;
}
#shop-car > .wrap-car > .c-content > .c-pic > img {
  width: 100%;
  height: 100%;
}
#shop-car > .wrap-car > .c-content > ul {
  float: left;
}
#shop-car > .wrap-car > .c-content > ul > li {
  float: left;
  width: 100px;
  margin-left: 30px;
  min-height: 14px;
  text-align: center;
}
#shop-car > .wrap-car > .c-content > ul > li > .count {
  width: 86px;
  height: 20px;
  position: relative;
}
#shop-car > .wrap-car > .c-content > ul > li > .count > .num {
  width: 42px;
  height: 20px;
  text-align: center;
  border: 1px solid #d6d6d6;
  z-index: 1;
}
#shop-car > .wrap-car > .c-content > ul > li:first-child {
  width: 450px;
  text-align: left;
  margin-left: 0;
}
#shop-car > .wrap-car > .c-content > ul > li:first-child > a {
  position: relative;
  max-height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #3a3a3a;
}
#shop-car > .wrap-car > .c-content > ul > li:nth-child(2) {
  color: #3a3a3a;
  width: 140px;
  margin-left: 10px;
  margin-right: -20px;
}
#shop-car > .wrap-car > .c-content > ul > li:nth-child(4) {
  color: #3a3a3a;
}
#shop-car > .wrap-car > .c-content > ul > li:nth-last-child(1) > a {
  color: #a4a4a4;
}
